
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.input__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
}

.ingreso-presupuesto__container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: green;
    border-radius: 20px;
    height: 200px;
    width: 400px;
    margin: 20px;

}

.ingreso-gasto__container {
    display: flex;
    flex-direction: column;

}

.table__container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 40px;
    margin: 20px;
}

.table__gastos {
    height: 100px;
    width: 100%;
}

.item__title {
    height: 100px;
}

.ingreso-gasto__container {
    border-style: solid;
    border-color:red ;
    border-radius: 20px;
    height: 300px;
    width: 400px;
    margin: 20px;
}